@import url(https://fonts.googleapis.com/css?family=Roboto:500);


header {
  background-image: linear-gradient(
    -225deg,
    #BB05D6 40%,
    #7918f2 48%,
    #0427BE 100%
  );

  box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 2em;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
    
  font-family: Georgia;
     text-align: center;
     padding-top: 00px;
     padding-top: 80px;
     font-size: 35px;
}

mark {
    background-color: red;
}

@media only screen and (max-width: 55em) and (min-width: 25em) {
  h1 span {
    display: block;
  }
}


.navbar{
 background:#6A1B9A;
}
.nav-link , .navbar-brand{
 color: #f4f4f4;
 cursor: pointer;
}
.nav-link{
 margin-right: 1em !important;
}
.nav-link:hover{
 background: #f4f4f4;
 color: ##6A1B9A;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}
.navbar-collapse{
 justify-content: flex-end;
}
   
   h2 {font-family: Georgia;
     text-align: left;
     padding-top: 30px;
     padding-left: 30px;
     font-size: 30px;
     margin-bottom: 20px;
   }
   
 article {
      max-width: 800px;
      padding: 10px;
      margin: 0 auto;
    }
.art {
    max-width: 500px;
    padding: 0px;
    margin: 0 auto;
}

   p {
     font-family: Georgia;
     font-size: 25px;
     padding-left: 60px;
     padding-right: 60px;
     margin-top: 10px;
        }


#img1 {
    left: 100px;
}
#img2 {
    right: 100px;
}
#img3 {
    left: 100px;
}
#img4 {
    right: 100px;
}
#thefstimg {
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
}



.gameboard {
    width: 430px;
    height:420px;
    border:3px solid white;
    z-index: 1;

}

.wrapper {
    width: 430px;
    margin:0 auto;
}


.row1, .row2, .row3, .row4, .row5, .row6, .row7, .row8,  {
    clear:both;

}

#cell1,#cell2,#cell3,#cell4 {
    width:50px;
    height:50px;
    border:3px solid black;
    float: left;

}

#cell5,#cell6,#cell7,#cell8 {
    width:50px;
    height:50px;
float: left;
    border:3px solid black;
}

#cell9,#cell10,#cell11, #cell12 {
    width:50px;
    height:50px;
    float: left;
    border:3px solid black;

}
#cell13,#cell14,#cell15, #cell16 {
    width:50px;
    height:50px;
    float: left;
    border:3px solid black;

}
#cell17,#cell18,#cell19, #cell20 {
    width:50px;
    height:50px;
    float: left;
    border:3px solid black;

}
#cell21,#cell22,#cell23, #cell24 {
    width:50px;
    height:50px;
    float: left;
    border:3px solid black;

}

#cell25,#cell26,#cell27, #cell28 {
    width:50px;
    height:50px;
    float: left;
    border:3px solid black;

}

#cell29,#cell30,#cell31, #cell32 {
    width:50px;
    height:50px;
    float: left;
    border:3px solid black;

}
#cell33,#cell34,#cell35, #cell36 {
    width:50px;
    height:50px;
    float: left;
    border:3px solid black;

}
#cell37,#cell38,#cell39, #cell40 {
    width:50px;
    height:50px;
    float: left;
    border:3px solid black;

}
#cell41,#cell42,#cell43, #cell44 {
    width:50px;
    height:50px;
    float: left;
    border:3px solid black;

}
#cell45,#cell46,#cell47, #cell48 {
    width:50px;
    height:50px;
    float: left;
    border:3px solid black;

}
#cell49,#cell50,#cell51, #cell52 {
    width:50px;
    height:50px;
    float: left;
    border:3px solid black;

}
#cell53,#cell54,#cell55, #cell56 {
    width:50px;
    height:50px;
    float: left;
    border:3px solid black;

}
#cell57,#cell58,#cell59, #cell60 {
    width:50px;
    height:50px;
    float: left;
    border:3px solid black;

}
#cell61,#cell62,#cell63, #cell64 {
    width:50px;
    height:50px;
    float: left;
    border:3px solid black;
}

#cell11, #cell47{
    background-color: blue;
}
p.fst {
    font-size: 23px;
    padding-left: 17px;
    color: white;
    font-family: sans-serif;

}


.heading {
  background:-webkit-linear-gradient(right, rgba(255,255,255,0), #fff 10%, #fff 90%, rgba(255,255,255,0));
  background:   -moz-linear-gradient(right, rgba(255,255,255,0), #fff 10%, #fff 90%, rgba(255,255,255,0));
  background:        linear-gradient(to right, rgba(255,255,255,0), #fff 10%, #fff 90%, rgba(255,255,255,0));
  color:#041ab9;
  font-family:Arial, sans-serif;
  font-size:20px;
  line-height:1.3;
  padding-bottom:5px;
  padding-top:5px;
  margin-top:60px;
  width:600px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:center;

  max-width: 90%;    

}
.heading:before {
  background:-webkit-radial-gradient(50% 100%, ellipse farthest-side, rgba(96,96,96,.7), rgba(0,0,0,0) 95%);
  background:   -moz-radial-gradient(50% 100%, ellipse farthest-side, rgba(96,96,96,.7), rgba(0,0,0,0) 95%);
  background:        radial-gradient(50% 100%, ellipse farthest-side, rgba(96,96,96,.7), rgba(0,0,0,0));
  content:' ';
  display:block;
  height:6px;
  position:absolute;
  top:-6px;
  left:0;
  right:0;
}
.heading:after {
  background:-webkit-radial-gradient(50% 0%, ellipse farthest-side, rgba(96,96,96,.7), rgba(0,0,0,0));
  background:   -moz-radial-gradient(50% 0%, ellipse farthest-side, rgba(96,96,96,.7), rgba(0,0,0,0));
  background:        radial-gradient(50% 0%, ellipse farthest-side, rgba(96,96,96,.7), rgba(0,0,0,0));
  background-position:50%;
  content:' ';
  display:block;
  height:6px;
  position:absolute;
  bottom:-6px;
  left:0;
  right:0;
}
li {
    text-align:justify; 
    font-family:Consolas;
     font-size: 20px;
     padding-left: 10px;
     padding-right: 10px;
     margin-top: 10px;
}