@import url(https://fonts.googleapis.com/css?family=Roboto:500);


header {
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );

  box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 2em;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
    
  font-family: Georgia;
     text-align: center;
     padding-top: 00px;
     padding-top: 80px;
     font-size: 35px;
}


@media only screen and (max-width: 55em) and (min-width: 25em) {
  h1 span {
    display: block;
  }
}


.navbar{
 background:#6A1B9A;
}
.nav-link , .navbar-brand{
 color: #f4f4f4;
 cursor: pointer;
}
.nav-link{
 margin-right: 1em !important;
}
.nav-link:hover{
 background: #f4f4f4;
 color: ##6A1B9A;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}
.navbar-collapse{
 justify-content: flex-end;
}
   
   h2 {font-family: Georgia;
     text-align: left;
     padding-top: 30px;
     padding-left: 30px;
     font-size: 30px;
     margin-bottom: 20px;
   }
   
   p {
     font-family: Georgia;
     font-size: 25px;
     padding-left: 60px;
     padding-right: 60px;
     margin-top: 10px;
        }

